@using Elision
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	@*@Html.Sitecore().Rendering(Renderings.Seo.PageMetadata.ToString(), new { Cacheable = true, Cache_VaryByData = true })
	@Html.Sitecore().Rendering(Renderings.Seo.TwitterCardMeta.ToString(), new { Cacheable = true, Cache_VaryByData = true })*@

	@Html.Sitecore().Rendering(Renderings.Themes.HeadResources.ToString())
</head>
<body>
	@Html.Sitecore().Rendering(Renderings.Themes.BodyTopResources.ToString())
	@Html.Sitecore().Placeholder("fragmentcontainer")
	@Html.Sitecore().Rendering(Renderings.Themes.BodyBottomResources.ToString())
</body>
</html>
